.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 312px;
  max-height: 308px;

  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  text-decoration: none;

  @media (min-width: 768px) {
    max-width: 240px;
    max-height: 244px;
  }

  &__info {
    padding: 12px 16px;
  }

  &__image {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 232px;
    width: 100%;
    object-fit: cover;

    @media (min-width: 768px) {
      height: 168px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
  }

  &__text {
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
  }
}
